.error-message{
    color: #e03444 !important;
}

.success-message{
    color: #30a444 !important;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}